/* 
    #ffffff
    #000000
    #e1443a
*/

@font-face {
    font-family: thinkingOfBetty;
    src: url(../fonts/Thinking_of_Betty.ttf);
  }

h1, h2, h3, h4, h6,
.carousel-caption h5, footer h5 {
    position: relative;
    font-family: thinkingOfBetty;
    color: white;
}

h5 {
    font-family: thinkingOfBetty;
    color: black;
}

.navbar-plain-color {
    background-color: black !important;
    background-image: none !important;
    transition: background-color .25s ease-in;
    transition: background-image .25s ease-in;
}

.navbar-transparent {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7)) !important;
    transition: background-image .25s ease-in;
    transition: background-color .25s ease-in;
}

nav a img {
    max-width: 100px;
}

footer {
    color: #fff;
    background-color: black;
}

.btn-red {
    color: #fff;
    background-color: #e1443a;
    border-color: #e1443a;
}

.card-img-top {
    height: 200px;
    background-image: url('/assets/img/illustrations/movie-918655_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item img {
    max-height: 1000px;
}

#inscription,
#listeDesFilms,
#actualites{
    position: relative;
    padding: 120px 0 75px 0;
    background-image: url('/assets/img/illustrations/cinema-442977_1920.jpg');
    background-repeat: repeat-y;
    background-size: cover;
}

#listeDesFilms {
    background-image: url('/assets/img/illustrations/fondo-hierba-verde_1373-333.jpg');
    background-repeat: repeat;
    background-size: auto;
}

#actualites::before,
#inscription::before,
#listeDesFilms::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: rgba(0, 0, 0, .8);
  }

#listeDesFilms h3 {
    margin-top: 75px;
    margin-bottom: 25px;
}

.carousel-caption {
    bottom: 45%;
    background-color: rgba(0, 0, 0, .8);
    border-radius: 15px;
    max-width: 350px;
    border: solid #e1443a 1px;
}

.filter-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

.filter-effect-section {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    position: relative;
}