@font-face {
    font-family: thinkingOfBetty;
    src: url(../fonts/Thinking_of_Betty.ttf);
  }

p, a, button, small, input {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h6,
.carousel-caption h5, footer h5 {
    position: relative;
    font-family: thinkingOfBetty;
    color: white;
}

h5, label {
    font-family: thinkingOfBetty;
    color: black;
}

.navbar-plain-color {
    background-color: black !important;
    background-image: none !important;
    transition: background-color .25s ease-in;
    transition: background-image .25s ease-in;
}

.navbar-transparent {
    background-color: transparent !important;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, .9), rgba(0, 0, 0, .7)) !important;
    transition: background-image .25s ease-in;
    transition: background-color .25s ease-in;
}

a.nav-link {
    font-weight: bold;
}

nav a img {
    max-width: 100px;
}

#carouselArticles {
    margin-top: 150px;
}

footer {
    color: #fff;
    background-color: black;
}

.btn-red {
    color: #fff;
    background-color: #e1443a;
    border-color: #e1443a;
}

.card-img-top {
    height: 200px;
    background-image: url('../../assets/img/illustrations/movie-918655_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card-img-top:hover {
    cursor: pointer;
}

#inscription,
#listeDesFilms,
#actualites{
    min-height: 1000px;
    position: relative;
    padding: 120px 0 75px 0;
}

#actualites {
    background-image: url('../../assets/img/illustrations/foule.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#listeDesFilms {
    background-image: url('../../assets/img/illustrations/grass1.jpg');
    background-repeat: repeat;
    background-size: auto;
}

#inscription {
    background-image: url('../../assets/img/illustrations/cinema-442977_1920.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#actualites::before,
#inscription::before,
#listeDesFilms::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, .6); */
    background: -webkit-linear-gradient(top,
    rgba(0,0,0,.9) 0%,
    rgba(0,0,0,.7) 1%,
    rgba(0,0,0,.6) 50%,
    rgba(0,0,0,.7) 99%,
    rgba(0,0,0,.9) 100%);
  }

#listeDesFilms h3 {
    margin-top: 75px;
    margin-bottom: 25px;
}

.carousel-caption {
    height: 150px;
    top: 35%;
    bottom: 45%;
    background-color: rgba(0, 0, 0, .7);
    border-radius: 15px;
    max-width: 350px;
    border: solid #e1443a 1px;
    padding: 15px;
}

.filter-effect {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .2);
}

#contactForm {
    margin-top: 150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 3px;
    position: relative;
}

#map {
    height: 200px;
    width: 100%;
}

.footer-copyright {
    font-size: .9em;
}

@media (max-width: 576px) { 
    .carousel-item .filter-effect {
        background-color: rgba(0, 0, 0, 1);
    }
    
    .carousel-caption {
        border: none;
    }

    .carousel-caption p {
        font-size: .8em;
    }
}